@media (max-width:425px) {
    .header {
        background: transparent url(../images/dist/bg.png) 50%50% / cover;
        &-content {
            width: 277px;
            &__logo {
                left: 90px;
            }
            &__text {
                left: 23px;
                h1 {
                    font-size: 10px;
                }
                p {
                    font-size: 6px;
                }
            }
        }
    }
    .navbar {
        &-content {
            width: 277px;
            &__logo {
                font-size: 6px; 
            }
        }
    }
}